<!DOCTYPE HTML>
<html lang="en">

body {
  width:100%;
  height: auto;
 
  background-color: #f2f2f2;

}
$couleurprimaire:#9356DC;
$couleursecondaire:#FF79DA;
$couleurtertiaire:#99E2D0;





#loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #fff;
  position: fixed;
  z-index: 3000;
  animation-name: test10;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  .loader__box {
      margin: auto;
      i {
          color:#9356dc
      }
  }
}
@keyframes test10 {
  0% {
      z-index: 3000;
      opacity: 1;
  }
  50% {
      opacity: 1;
  }
  99% {
      z-index: 3000;
  }
  100% {
      z-index: -3000;
      opacity: 0;
  }
}
header{
  display: flex;
  flex-direction: row;
}

.image1{
  width: 90%;
  height: 100px;
}


img
{
  object-fit: cover;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #f6f6f6;
  font-family: "Roboto", sans-serif;
}


.header-menu {
  display: flex;;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header-menu-icone {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  font-size: 1.5rem;
  left: 3rem;
  top: 50%;
}

.header-menu__titre {
  font-family: "Shrikhand", sans-serif;
}



.menu-1 {
  width: 100%;
  height: 300px;
}

.menu {
  background: #f6f6f6;
  transform: translateY(-80px);
  background-color: #f6f6f6;
  border-radius: 50px;
  margin: auto;
  
}

.menu-boxe {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.menu-boxe__titre {
  font-family: "Shrikhand", sans-serif;
}

.coeur {
  position: absolute;
  right: 2rem;
  top: 3rem;

}

.coeur__transition {
  color: black;
  font-size: 30px;
  transition: all 1s;
  &.fa-solid {
      position: absolute;
      left: 0;
      color: transparent;
      transition: all 1s;
      background: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
      background-clip: text;
      -webkit-background-clip: text;
      opacity: 0;
  }
  &:hover {
      opacity: 1;
      color: transparent !important;
      transition: all 1s;
  }
}
.menu__plat-description{
  margin-left: 27px;
}
.menu__section {
  margin: 2rem 0;
}

.menu__plat{
  width: 60%;
}
.menu__titre {
  position: relative;
  text-transform: uppercase;
  margin-bottom: 1rem soild $couleurtertiaire;
 
  transition-duration: 0.6s;
 
}
em{

  border-bottom: 3px soild $couleurtertiaire;

}

.menu__plat {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: start;
  position: relative;
  width: calc(100% - 4rem);
  margin: 20px auto;
  box-shadow: 5px 5px 10px #33333333;
  background-color: #fff;
  border-radius: 1.5rem;
  height: 5rem;
 width: 429px;
 margin-right: 45px;
  &:hover {
      .menu__check {
          width: 5rem;
          right: 0;
          transition-duration: 0.6s;
          &-icone {
              transform: rotate(360deg);
              transition-duration: 1.4s;
          }
        }
        .menu__nourriture {
          width: calc(70% - 5rem);
          transition-duration: 0.6s;
        }
  }
} 


.menu__food {
  
  width: 70%;
  transition: all 0.6s;
  margin-top: -4.5rem;
  
  p {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
  }
  h2 {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
  }

}
em{
  border-bottom: 2px solid $couleurtertiaire;
  margin-top: 5px;
  border: 2px;
  width: 15% !important;
}

.menu__plat-description {
  margin-block-end: 0;
  margin-top: -11px;
}

.menu__plat-prix {
  padding: 1rem;
  padding-left: 0;
  text-align: right;
  font-weight: 700;
  width: 30%;
  align-self: flex-end;
}

.menu__check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0%;
  height: 100%;
  right: -5rem;
  position: relative;
  background-color: #99E2D0;
  color: #99E2D0;
  transition-duration: 0.6s;
}

.menu__check-icone {
  background-color: #fff;
  border-radius: 100%;
  height: 1.5rem;
  width: 1.5rem;;
  display: flex;
  align-items: center;
  justify-content: center;
}


.logoimage{
  width: 100%;
  max-width: 992px;
  justify-content: center;
object-fit: cover;
  justify-content: center;
  font-family: shrikhand;
}
.header{
  display: flex;
  width: 70%;
  margin-left: 30%;
}
.header2{
  display: flex;
 
}
.flex{
  display: flex;
  align-items: center;
}
.body{
 
 
  align-items: center;
  font-family: Roboto;;
 

  padding: 0;
  box-sizing: border-box;
  
  background-color: white;
}


.menu__titre{
display: flex;
justify-content: space-between;
align-items: center;
font-family: Shrikland;
}
.menu{
  display: flex;
  flex-direction: column;

  border-radius: 32px;
  height: auto;
  
  position: relative;
  background-color: #f6f6f6;
 width: 100%;

 margin-top: 531px;

  margin-left: 0;

}


.check {
    background-color: #fff;
    border-radius: 100%;
    height: 1.5rem;
    width: 1.5rem;;
    display: flex;
    align-items: center;
    justify-content: center;

}


.logo{
  display: flex;
  align-items: center;
  width: 100%;

  justify-content: center;
object-fit: cover;
  justify-content: center;
  height: 100px;
  font-family: Shrikland;
}
h1, h2 {
  margin-left: 25px;
   }
  

.coeur{
display: flex;
align-items: center;
margin-left: 63%;
}
.coeur1{
  margin-left: 63%;
}
.titre__menu{

  
  font-size: 36px;
font-family: Shrikland;

}
.titre__menu::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 3rem;
  transform: translateX(-3px);
  height: 3px;
  width: 60px;
  
}

.restaurantcoeur {
  color: black;
  font-size: 25px;
  transition: all 1s;
  margin-left: -26px;
  &.fa-solid {
    color: transparent;
      left: 0;
      background: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
      transition: all 1s;
  
      background-clip: text;
      -webkit-background-clip: text;
      opacity: 0;
  }
  &:hover {
      opacity: 1;
      background:linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
      transition: all 1s;
      -webkit-background-clip: text;
    }


}

.fond{
  background-color: #011c37;
  color: #f6f6f6;
  width: 100%;
}
.footer a{
  color: #f6f6f6;
}
header a{
  margin-right: 270px;
}

.main{
 
width: 100%;
margin-bottom: 220px;
display: block;
align-items: stretch;
  border: 1px solid white;
  border-radius: 32px;
  
  margin-bottom: 30px;
 
  
}
header a{
  margin-right: 103px;
  margin-left: 35px;
}

.imagerestaurants {
  width: 100%;
max-height: 50%;
  object-fit: cover;
 position: absolute;
}


.imagerestaurants1{
  width: 100%;
  max-height:400px ;
  object-fit: cover; 
  border-radius: 20px;
  
}
.card_conteneur{
  display: flex;
  flex-direction: row;
  gap: 38px;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   height: auto;

}
.card1{
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 6px 6px 6px lightgrey;
  position: relative;
  
  background-color: white;
  margin-bottom: 22px;
  padding-bottom: 10px;
  width: 50%;
}

.conteneur1{
width: 100%;
margin: 0;
}

.conteneur3
{
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  align-items: center;

  padding: 58px;

}

h2{
 
  font-family: Shrikland;
  margin-top: 58px;
}
h3 h2{ 
  font-size: 24px;
  font-family: Shrikland;
}
h4{
  font-size: 20px;
  margin: 0;
  font-weight:bold;
  margin-left: 20px;
  font-family: Roboto;
  
}
h5{
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: lighter;
  margin-left: 20px;
  font-family: Roboto;
}

a
 {
   text-decoration: none;
   list-style: none;
   color: black;
   font-family: Roboto;

  }
  header a{

   font-size: 35px;
 }
 

.check{
  color: $couleurtertiaire;
  background-color: white;
  border-radius: 32px;
font-size: medium;


}

  
.conteneur1__btn p{
margin-top: 0;

width: 20%;
height: 20%;


}


.alignanimation{
  display: flex;
}
em{
  
  border-bottom: 2px solid $couleurtertiaire;
  font-family: Roboto;
  
}

.alignvisite{
  display: flex;
}
.btn__commande {
  border: 1px solid white;
  border-radius: 32px ;
  background:linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  height: 50%;
  max-width: 10%;
  margin-left: 46%;
  margin-right: 20%;
 padding: 1.5%;
 color:white;
 font-size: 16px;
}


.annonce_nouveau--vert{

  position: relative;
  margin-top: 0;
  font-family: Roboto;
  
}

.imagepalettedugout{
  width: 100%;
    max-height:400px ;
    object-fit: cover; 
    border-radius: 20px;
  
  }
  .aligncoeur
  {
  display: flex;
  align-items: center;

  
  }
h2{
  font-size: 26px;

}

h3{
  font-size: 24px;
}
h4{
  font-size: 20px;
}
h5{
  font-size:16px ;
  
}
p{
  font-size: 16px;
  font-family: Roboto;
}

.indicationsurimage--vert{
  background-color:$couleurtertiaire ;
 
  padding : 10px;
  position: absolute;
  margin-left: 82%;
}
.indicationsurimage--vert2{
  background-color:$couleurtertiaire ;

  padding : 10px;
  position: absolute;
  margin-left: 80%;

}
.imagelanoteenchantee{
  width: 100%;
  max-height:400px ;
  object-fit: cover; 
  border-radius: 20px;
  
  }
  .imagelanoteenchantee1{
    width: 100%;
    max-height:212px ;
    object-fit: cover; 
    border-radius: 20px;
    
    }
.imagealafrancaise{
 
  width: 100%;
  max-height:400px ;
  object-fit: cover; 
  border-radius: 20px;
}
.imageledelicedessens{
  width: 100%;
  max-height:400px ;
  object-fit: cover; 
  border-radius: 20px;

}


footer li{
  list-style: none;
  
 
}
#footer{
  color: #f2f2f2;
  background-color: #373737; 

  }
  #footer a{
    color: #f2f2f2;
     text-decoration: none;
}

.logofooter{

    
  height: 20px;
  
margin-left: 38px;

}
.coeur{
  margin-left: 72%;
}



.delay-seconds {
  animation-delay: 1000ms;
}
.conteneur1 {
  &__menubtn {
      animation: conteneur1-animation 1000ms 150ms;
  }
}


@keyframes loadinganimation{
  0%{
      opacity: 0;
      transform: scale(0);
  }
 
  100%{
      opacity: 0;
      transform: scale(0);
  }
}
.loading1{
 
  animation: loadinganimation 1s;  
}
.loading2{
 
  animation: loadinganimation 2s;  
}

.loading3{
 
  animation: loadinganimation 3s;  
}

       
@media screen and (min-width: 993px)
{
  
   
      
       .indicationsurimage--vert{
        margin-left: 82%;
       }

}


@media screen and (max-width: 1400px) and (min-width: 768px)
{
  .card_conteneur{
    display: flex;  
    flex-direction: row;
    gap: 38px;
     justify-content: space-around;
     align-items: center;
     width: 100%;
     height: auto;
  
  
  }

  .loading1{
 
    margin-top: 0;
     }

 .menu{
    margin-top: 381;
     }
     .card1{
      width: 100%;
        }
      .coeur1{
        margin-left: 46%;
      }
      h3{
        font-size: 35px;
      }
      h4{
        font-size: 28px;
        
      }
      h5{
        font-size: 25px;
      }
      p{
        font-size: 25px;
      }
      header a{
        margin-right: 134px;
        margin-left: 0;
  
      }
      .header{
        margin-left: 4%;
      }
      .conteneur3{
        padding: 0;
      }
      .indicationsurimage--vert{
        max-width: 78px;
        margin-left: 70%;
        padding: 23px;
      }
      #footer h4{
        font-size: 27px;
      }
      #footer h5{
  font-size: 20px;
      }
      #footer li{
        font-size: 20px;
      }
  
  
  
  }
  @media screen and (max-width: 767px)
  {
    section{
      display: block;
    }
    .menu__food {
  
         margin-top: -4.5rem;
      }
    body{
      width: 100%;
    }
    h2{
    font-size: 24px;
    margin-top: 58px;
  }
  
  h3{
    font-size: 22px;
  }
  h4{
    font-size: 18px;
  }
  h5{
    font-size:16px ;
    font-weight: lighter;
  }
  p{
    font-size: 16px;
  }
  .indicationsurimage--vert2{
  
    margin-left: 71%;
  
  }
.card_conteneur{
  
  gap: 38px;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   height: auto;


}
  .header2{
    margin-left: 0;
  }
  .coeur1{
    margin-left: 45%
  }
  .imagelanoteenchantee{
    width: 100%;
    height: 208px;
  }
  .header{
    margin-left: 0;
  }

  header a {
    margin-right: 24px;
    margin-left: 0;

   }
   .conteneur3{
    padding: 0;
   }
   .card1{
    width: 313px;
   }
  .imagerestaurants{
     width: 100%;
  }
   .indicationsurimage--vert{
    margin-left: 67%;
   }
   .logo{
    height: 43px;
    
   }
   .assiette__validation{
    padding: 6%;
   }
 



}

@media screen and (max-width: 992px)
{
  
  h2 {
    margin-left: 24px;
     }
    .menu__plat{
      width: 86%;
    }


     .card_conteneur{
      
      gap: 15px;
       justify-content: space-around;
       align-items: center;
       width: 72%;
       height: auto;
       display: flex;
       flex-direction: column;
    
    
    }
    em{
      width: 15%;
    }
  .menu{
    margin-top: 443px;
    width: 100%;
    padding: 0;
    margin-right: 0;
    
  }
  .loading1{
    margin-left: 0;
  }
  
  .coeur{
    margin-left: 43%;
  }
  .plats__souligner{
    width: 12%;
  }
  .assiette{
    width: 85%;
  }
  .assiette__prix{
    margin-left: 20px;
  }
  .assiette__nom{
    width: 60%;
  }
  .assiette__validation{
    display: none;
     width: 0;
     box-sizing: border-box;
          }
  .btn__commande{
    max-width: 32%;
    margin-left: 37%;
    padding: 2.5%;
    font-size: 16px;
  }
  .footer{
    text-align: center;
    background-color: #011c37;
    width: 100%;
  }
  .logo{
    text-align: center;
  
  }
  
}


@media screen and (max-width: 1024px) and (min-width: 768px)
{
.card_conteneur{
      
   flex-direction: row;
       }

.indicationsurimage--vert2{

  padding-right: 13px;
  margin-left: 57%;
  }
  h4{
    font-size: 21px;
  }
  h5{
    font-size: 20px;
  }
  p{
    font-size: 20px;
  }
  .coeur1{
    margin-left:31% ;
  }
  .imagelanoteenchantee{
    height: 184px;
          }


}
@media screen and (min-width: 1024px)
{
  .indicationsurimage--vert{
    margin-left: 81%;
  }
  section {
    display: flex;
  }
  .coeur{
    margin-left: 65%;
  }
}