body {
  width: 100%;
  height: auto;
  background-color: #f2f2f2;
}

.logoimage {
  width: 100%;
  max-width: 992px;
  justify-content: center;
  -o-object-fit: cover;
     object-fit: cover;
  justify-content: center;
}

.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  font-family: shrkhand;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.conteneur1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 32px;
  position: relative;
  background-color: #f6f6f6;
  border-radius: 36px;
}

.logo {
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 992px;
  justify-content: center;
  -o-object-fit: cover;
     object-fit: cover;
  justify-content: center;
}

.titre_menu {
  font-weight: bold;
  font-size: 36px;
  margin-right: 50%;
}

header a {
  margin-right: 30px;
}

.main {
  position: relative;
  width: 100%;
  margin-bottom: 220px;
  display: block;
  align-items: stretch;
  border: 1px solid white;
  border-radius: 32px;
  margin-bottom: 30px;
}

.loading1 {
  margin-left: 30px;
}

.loading2 {
  margin-left: 30px;
}

.loading3 {
  margin-left: 30px;
}

.annonce_nouveau--vert {
  position: relative;
}

.indicationsurimage--vert {
  background-color: #99E2D0;
  padding: 10px;
  position: absolute;
  margin-left: 80%;
  margin-top: 2%;
}

.imagerestaurants {
  max-width: 100%;
  max-height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

.loading1 {
  position: relative;
  border-radius: 32px;
  border: 1px solid white;
  margin-top: 600px;
  margin-left: 0;
  width: 96%;
}

.imagerestaurants1 {
  width: 100%;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.card_conteneur {
  gap: 38px;
  justify-content: space-around;
  align-items: center;
}

.card1 {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 6px 6px 6px;
  position: relative;
  width: 50%;
  background-color: white;
  margin-bottom: 22px;
  padding-bottom: 10px;
}

strong {
  font-size: 30px;
}

.aligncoeur {
  display: flex;
  align-items: center;
}

.espacecoeur {
  padding-left: 58%;
}

.checkbtn {
  border-radius: 20px;
  cursor: pointer;
  padding: 5%;
  overflow: hidden;
  position: relative;
  transition: transform 200ms;
}
.checkbtn:hover {
  transform: scale(1.15);
}

.checkbtn {
  overflow: hidden;
  transform: scale(0.1) rotate(-90deg);
  transition: transform 330ms ease-in-out;
}
.checkbtn span {
  transform: translateY(400%);
  transition: transform 280ms ease-out 50ms;
  display: inline;
  align-items: center;
}

.fa-solid.fa-heart {
  color: #FF79DA;
}

.conteneur1 {
  width: 100%;
  margin: 0;
}

.titre {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
}

.conteneur3 {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  align-items: center;
  margin: auto;
  padding: 58px;
}

h3 {
  font-size: 12px;
}

h4 {
  font-size: 20px;
  margin: 0;
  font-weight: bold;
  margin-left: 20px;
}

h5 {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: lighter;
  margin-left: 20px;
}

a {
  text-decoration: none;
  list-style: none;
  color: black;
}

.conteneur1__menubtn {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 490px;
  background-color: white;
  margin: 12px auto;
  border: 1px solid white;
  border-radius: 14px;
  background-color: white;
  box-shadow: 5px 5px 5px #d4d4d4;
  margin-bottom: 30px;
}

.check {
  color: #99E2D0;
  background-color: white;
  border-radius: 32px;
  font-size: medium;
  transition: width 600ms ease-in-out;
}

.conteneur1__btn p {
  margin-top: 0;
  width: 90%;
  height: 20%;
}

.conteneur1__menubtn {
  width: 100%;
}

.alignanimation {
  display: flex;
}

em {
  border-bottom: 2px solid #99E2D0;
}

span {
  margin-left: 440px;
}

.alignvisite {
  display: flex;
}

.btn_commande {
  border: 1px solid white;
  border-radius: 32px;
  background-color: #9356DC;
  height: 50%;
  max-width: 10%;
  margin-left: 40%;
  margin-right: 20%;
  padding: 1.5%;
}

.annonce_nouveau--vert {
  position: relative;
  margin-top: 0;
}

.imagepalettedugout {
  width: 100%;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.aligncoeur {
  display: flex;
  align-items: center;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
  font-weight: lighter;
}

.indicationsurimage--vert {
  background-color: #99E2D0;
  max-width: 60px;
  padding: 10px;
  position: absolute;
}

.imagelanoteenchantee {
  width: 100%;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.imagealafrancaise {
  width: 100%;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.imageledelicedessens {
  width: 100%;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.checkbtn {
  background-color: #99E2D0;
}
.checkbtn__check {
  transform: scaleX(0);
  transition: transform 2000ms;
}

#footer {
  width: 100%;
  height: auto;
}

#footer a {
  color: #f2f2f2;
  text-decoration: none;
}

.logofooter {
  width: 25%;
  height: 20px;
}

footer li {
  list-style: none;
}

#footer {
  color: #f2f2f2;
  background-color: #011c37;
}

.delay-seconds {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.conteneur1__menubtn {
  -webkit-animation: conteneur1-animation 1000ms 150ms;
          animation: conteneur1-animation 1000ms 150ms;
}

.loading1 {
  -webkit-animation: loadinganimation 1s;
          animation: loadinganimation 1s;
}

@-webkit-keyframes loadinganimation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  25% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes loadinganimation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  25% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
.loading2 {
  -webkit-animation: loadinganimation 2s;
          animation: loadinganimation 2s;
}

@keyframes loadinganimation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  25% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
.loading3 {
  -webkit-animation: loadinganimation 3s;
          animation: loadinganimation 3s;
}

@keyframes loadinganimation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  25% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}/*# sourceMappingURL=Restaurants.css.map */